<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkup.activity.mapper.ActivityPayoutMapper">

    <resultMap id="BaseResultMap" type="com.linkup.activity.entity.ActivityPayout">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="activityId" column="activity_id" jdbcType="OTHER"/>
            <result property="hostId" column="host_id" jdbcType="OTHER"/>
            <result property="totalAmount" column="total_amount" jdbcType="INTEGER"/>
            <result property="platformFee" column="platform_fee" jdbcType="INTEGER"/>
            <result property="payoutAmount" column="payout_amount" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="processedAt" column="processed_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,host_id,
        total_amount,platform_fee,payout_amount,
        status,note,processed_at,
        created_at
    </sql>
</mapper>


