<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkup.growth.invite.mapper.InviteRecordMapper">

    <resultMap id="BaseResultMap" type="com.linkup.growth.invite.entity.InviteRecord">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="inviterId" column="inviter_id" jdbcType="OTHER"/>
            <result property="inviteeId" column="invitee_id" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="inviteeFirstOrderId" column="invitee_first_order_id" jdbcType="OTHER"/>
            <result property="rewardAmount" column="reward_amount" jdbcType="INTEGER"/>
            <result property="rewardedAt" column="rewarded_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,inviter_id,invitee_id,
        status,invitee_first_order_id,reward_amount,
        rewarded_at,created_at
    </sql>
</mapper>


